# Copier ce fichier en .env.local sur le serveur de production
# Ce fichier surcharge les valeurs de .env - NE PAS versionner .env.local

APP_ENV=production
APP_DEBUG=false
APP_URL=https://your-domain.com/

DB_DATABASE=database/app.sqlite
