.env.local

/storage/*
!/storage/.gitkeep
!/storage/files/
!/storage/log/
!/storage/tmp/

/storage/files/*
!/storage/files/.gitkeep

/storage/log/*
!/storage/log/.gitkeep

/storage/tmp/*
!/storage/tmp/.gitkeep

/database/*

